<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>

    <% let text = doc; %>
    
    <form action="/display" method="post">

        <div contenteditable="true" id="divText">
            <%- doc %>
        </div>
        <br>
        

<textarea name="textAreaDoc" cols="60" rows="10"><%= text%></textarea>
<br>
<input type="submit">    

    </form>


</body>
</html>


